* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
}
:root {
    --main-color:rgb(255, 125, 4);
    --text-color:gray;
}
button {
    text-align: center;
    height: 3rem;
    width: 10rem;
    border-radius: 30px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    background: none;
    text-transform: capitalize;
    transition: all .5s;
}
button:hover {
    color: white;
    background-color: var(--main-color);
}

.container {
    width: 90%;
    margin: 0 auto;
}
.home {
    background-image: url(/images/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    position: absolute;
    left: o;
    top: 0;
    
}
.content {
position: absolute;
}
.logo img {
    width: 6rem;  
}

/* --------------------------------------------------------- */
hr {
    opacity: .2;
    width: 95%;
    margin: 0 auto;
}
.heading h2 {
    margin: 1rem 0;
    }
.heading .brd {
    height: .3rem;
    width: 10rem;
    background-color: var(--main-color);
    
}    
.heading p {
    color: var(--text-color);
}

/* -------------------------------------------------------- */

.landing .card {
    transition: all 1s;
    box-shadow: 15px 15px 5px gray;
}
.landing .card i {
    color: var(--main-color);
}

.card p {
    color: var(--text-color);
    
}
.landing .card:hover {
    transform: scale(1.1);

}


/* ------------------------------------------------------------------ */

.images img{
    width: 25%;
    transition:all 1s;
}
.images img:hover {
transform: scale(1.1);


}

/* --------------------------------------------------------- */

.iphone {
    background-color: rgba(128, 128, 128, 0.089);
}

.iphone .txt {
    color: var(--text-color);
}
.iphone .txt p {
margin-bottom: 4rem;
}
.iphone .txt p::first-letter {
    padding: 1rem;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin-right: 1rem;
}

/* -------------------------------------------------- */

.only-one {
color: var(--text-color);

}
.only-one img {
    width: 100%;
}
.only-one h3 {
font-size: 1.5rem;
text-transform: uppercase;
padding: 1rem 0;
}
.only-one i {
    color: var(--main-color);
    padding: .5rem  ;

}
.only-one a {
    color: var(--main-color);
    text-decoration: none;
    border-bottom: 1px solid var(--main-color);
}

/* --------------------------------------------------------- */

.fix {
    background-image: url(/images/pizza.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;


    
}
.fix::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.788);
    
}
.text {
    position: relative;
    text-transform: capitalize;
}
.customer {
width: calc(100%/3);
}
.customer p {
    line-height: 1.8;
}
.customer img {
    width: 20%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 1rem;
}

/* ---------------------------------------------------- */


.price {
    width:calc(100%/3);
    background-color: rgba(236, 227, 227, 0.574);
    color: var(--text-color);
    padding:.7rem ;
}
.price span {
text-transform: uppercase;
font-size: 1.5rem;
}
.price .dollar {
    font-size: 3rem;
    color: var(--main-color);

}
.price i {
    color: var(--main-color);
    padding-right: .7rem;

}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------------------------------------------------------- */



.over-plan {
right: 0;
height: 100%;
color: var(--text-color);
background-color: rgba(255, 255, 255, 0.68);
}

input,
textarea{
    text-indent: 10px;
}
.over-plan input:not(#ch),
select,
textarea
{
    position: absolute;
    right: 10%;
}
input:focus,
select:focus,
textarea:focus {
    outline: none ;
    border: 2px solid var(--main-color);
}
#ch{
    margin-left: 18%;
}

.over-plan .submit {
    text-align: center;
    height: 3rem;
    width: 10rem;
    border-radius: 30px;
    color: white;
    border: 2px solid var(--main-color);
    background: var(--main-color);
    text-transform: capitalize;
    transition: all .5s;
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.over-plan .submit:hover {
    background: none;
    color: var(--main-color);
}
/* ------------------------------------------------- */

footer {
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.74);    
}  


footer ul li {
    padding: 0 1rem;
    transition: all.5s;
}
footer ul li:hover {
    color: var(--main-color);
    cursor: pointer;
    font-size: 1.1rem;
}
footer .icon i {
    font-size: 2rem;
    padding: 0 .8rem;
    transition: .5s;

}
footer .icon i:hover {
    color: var(--main-color);
}


